##alert modal
<a href="#alertModal" id="alertModalLink" class="hide" data-toggle="modal">Alert Modal</a>

<div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="alertModalHeader" aria-hidden="true">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="alertModalHeader">$!alertHeader</h3>
	</div>

	<div class="modal-body">
		<p>$!alertBody</p>
	</div>

	<div class="modal-footer">
		<button data-dismiss="modal" class="btn green">#if($alertBtn) $!alertBtn  #else 确定 #end</button>
	</div>

</div>
