##<link type="text/css" rel="stylesheet"
##      href="$!{configConstant.resourcesBasicUrl}/css/lib/bootstrap.min.css?v=${configConstant.srcVersion}"/>
<div id="vmList">
    <!-- loading -->
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    请稍候...
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <h3 class="page-title">
                用例列表
                <small>销帮帮API</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/list.html">销帮帮</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">API接口</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">用例列表</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet box blue tabbable">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>
                        <span class="hidden-480">列表</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="tabbable portlet-tabs">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>用例名</th>
                                <th>预期返回</th>
                                <th>验证结果</th>
                                <th>请求耗时</th>
                                <th>修改时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in list">
                                <td>
                                    <a href="#" @click="intoDetail(item.id)">{{ item.caseName }}</a>
                                </td>
                                <td>
                                    {{ item.expectedStateCode }}
                                </td>
                                <td>
                                    <div v-if="item.testResult">{{ item.testResult }}</div>
                                    <div v-else>-</div>
                                </td>
                                <td>
                                    <div v-if="item.durationTime">{{ item.durationTime }}ms</div>
                                    <div v-else>-</div>
                                </td>
                                <td>
                                    {{ formatTime(item.updateTime) }}
                                </td>
                                <td>
                                    <button class="btn red" type="button" @click="showDeleteDialog(item.id)">
                                        <i class="icon-remove" style="margin-right: 10px;"></i>删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination pagination-right" style="margin-right: 10px; margin-bottom: 5px;">
                        <ul>
                            <li><a href="#" @click="intoPage((page-1))">Prev</a></li>
                            <template v-for="index in pageCount">
                                <li v-if="index == page" class="disabled"><a href="#">{{ index }}</a></li>
                                <li v-else class="active"><a href="#" @click="intoPage(index)">{{ index }}</a></li>
                            </template>
                            <li><a href="#" @click="intoPage((page+1))">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
</div>
##<script src="$!{configConstant.resourcesBasicUrl}/js/lib/bootstrap.js?v=${configConstant.srcVersion}"
##        type="text/javascript"></script>
<script src="$!{configConstant.resourcesBasicUrl}/js/lib/vue.min.js?v=${configConstant.srcVersion}"
        type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#vmList',
        data: {
            page: 1,
            pageSize: 20,
            count: 0,
            pageCount: 1,
            list: []
        },
        computed: {},
        methods: {
            formatTime: function (time) {
                return new Date(parseInt(time) * 1000).toLocaleString().replace(/\//g, '-').replace('下午', ' ')
            },
            /**
             * 获取测试用例总数
             */
            loadCount: function () {
                var self = this
                $.ajax({
                    url: "/api/case/count.do",
                    type: "POST",
                    data: {},
                    cache: false,
                    success: function (result) {
                        result = JSON.parse(result)
                        self.count = result.ret.count
                        if (self.count % self.pageSize == 0) {
                            self.pageCount = self.count / self.pageSize
                        } else {
                            self.pageCount = self.count / self.pageSize + 1
                        }
                        if (self.pageCount == 0) {
                            self.pageCount = 1
                        }
                        self.pageCount = Math.floor(self.pageCount)
                        self.loadCaseList()
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('请求返回错误\nStatus：' + textStatus + '\nerrorThrown：' + errorThrown)
                    }
                });
            },
            /**
             * 获取测试用例列表
             */
            loadCaseList: function () {
                var params = {
                    page: this.page,
                    pageSize: this.pageSize
                }
                var self = this
                $('#loading').modal('show');
                $.ajax({
                    url: "/api/case/list.do",
                    type: "POST",
                    data: params,
                    cache: false,
                    success: function (result) {
                        self.list = JSON.parse(result).ret
                        $('#loading').modal('hide');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('请求返回错误\nStatus：' + textStatus + '\nerrorThrown：' + errorThrown)
                        $('#loading').modal('hide');
                    }
                });
            },
            /**
             * 跳转到指定页并获取数据
             * @param index
             */
            intoPage: function (index) {
                if (index < 1 || index > this.pageCount) {
                    // alert('翻页操作无效！')
                    return
                }
                this.page = index
                this.loadCaseList()
            },
            /**
             * 跳转到详情页
             * @param id
             */
            intoDetail: function (id) {
                window.location = '/case/item.html?id=' + id
            },
            showDeleteDialog: function (id) {
                var mymessage = confirm('确认删除吗？');
                if (mymessage == true) {
                    this.delete(id)
                } else if (mymessage == false) {
                    // Hide
                }
            },
            /**
             * 删除
             */
            delete: function (id) {
                $('#loading').modal('show');
                $.ajax({
                    url: '/api/case/delete.do',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    cache: false,
                    success: function (result) {
                        alert('删除成功')
                        location.reload()
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('请求返回错误\nStatus：' + textStatus + '\nerrorThrown：' + errorThrown)
                        $('#loading').modal('hide');
                    }
                });
            }
        }
    });
</script>
<script type="text/javascript">
    vm.loadCount()
</script>