			<div class="portlet-body" id="apiError">
				<span>错误参数提示</span>
				<table border = "1" width = "1000">
					<tr>
						<th>错误提示编号</th>
						<th>提示信息</th>
						<th>错误提示编号</th>
						<th>提示信息</th>
						<th>错误提示编号</th>
						<th>提示信息</th>
						<th>错误提示编号</th>
						<th>提示信息</th>
					</tr>
					<tr>
						<th>100001</th>
						<td>接口请求方式错误，本接口只支持post请求</td>
						<th>100002</th>
						<td>缺少corpid</td>
						<th>100003</th>
						<td>权限验证失败</td>
						<th>100004</th>
						<td>服务繁忙或服务端错误</td>
					</tr>
					<tr>
						<th>100005</th>
						<td>必填参数缺失,提示信息会应不同参数缺失变化</td>
						<th>100006</th>
						<td>data参数不能为空</td>
						<th>100007</th>
						<td>data不是合法的json字符串，无法解析为JSONObject</td>
						<th>100008</th>
						<td>corpid错误或该公司缺少api_token请在后台设置</td>
					</tr>
					<tr>
						<th>201001</th>
						<td>客户信息不能为空</td>
						<th>201002</th>
						<td>客户实体解析失败</td>
						<th>201003</th>
						<td>客户名称不能为空</td>
						<th>201004</th>
						<td>客户“客户电话”字段不能为空</td>
					</tr>
					<tr>
						<th>201005</th>
						<td>根据客户查重规则，已存在该客户或客户电话，无法新建该客户</td>
						<th>201006</th>
						<td>客户ID不能为空</td>
						<th>201007</th>
						<td>客户不存在</td>
						<th>201008</th>
						<td>该客户已经被逻辑删除</td>
					</tr>
					<tr>
						<th>201009</th>
						<td>该客户有关联合同不能删除</td>
						<th>202001</th>
						<td>联系人信息不能为空</td>
						<th>202002</th>
						<td>联系人实体解析失败</td>
						<th>202003</th>
						<td>联系人“联系电话”字段不能为空</td>
					</tr>
						<th>202004</th>
						<td>已存在该电话对应的客户联系人，无法新建该联系人</td>
						<th>202005</th>
						<td>联系人ID不能为空</td>
						<th>202006</th>
						<td>联系人不存在</td>
						<th>202007</th>
						<td>该联系人已经被删除</td>
					</tr>
					<tr>
						<th>203001</th>
						<td>合同信息不能为空</td>
						<th>203002</th>
						<td>合同实体解析失败</td>
						<th>203003</th>
						<td>该合同编号对应的合同订单编号已存在，可能在合同列表中或合同审批中</td>
						<th>203004</th>
						<td>合同ID不能为空</td>
					</tr>
					<tr>
						<th>203005</th>
						<td>合同不存在</td>
						<th>203006</th>
						<td>合同产品数量 不正确</td>
						<th>203007</th>
						<td>试图操作的合同关联产品数据不存在</td>
						<th>203008</th>
						<td>合同编号不能为空</td>
					</tr>
					<tr>
						<th>203009</th>
						<td>该合同已经被删除</td>
						<th>204001</th>
						<td>产品ID不能为空</td>
						<th>204002</th>
						<td>产品ID对应的产品不存在</td>
						<th>204003</th>
						<td>产品信息不能为空</td>
					</tr>
					<tr>
						<th>204004</th>
						<td>产品实体解析失败</td>
						<th>204005</th>
						<td>产品编号不能为空</td>
						<th>204006</th>
						<td>产品编号已存在</td>
						<th>204007</th>
						<td>产品分类名称不能为空</td>
					</tr>
					<tr>
						<th>204008</th>
						<td>产品父分类不存在</td>
						<th>204009</th>
						<td>不能建立三级产品分类</td>
						<th>204010</th>
						<td>该产品分类名称已存在</td>
						<th>204011</th>
						<td>产品分类ID不能为空</td>
					</tr>
					<tr>
						<th>204012</th>
						<td>产品分类不存在</td>
						<th>204013</th>
						<td>该产品已经被删除</td>
						<th>204014</th>
						<td>该产品分类下还有子分类，请先删除子分类再删除该分类</td>
						<th>204015</th>
						<td>该产品分类下还有关联产品，不能删除该分类</td>
					</tr>
				</table>
			</div>