<div class="footer">
    <div class="footer-inner">
        Copyright © 2016 , All Rights Reserved  浙ICP备15012475号-1 杭州逍邦网络科技有限公司 版权所有
    </div>
    <div class="footer-tools">
        <span class="go-top">
        <i class="icon-angle-up"></i>
        </span>
    </div>
</div>